{{ main_agent }}'s previous belief: {{ b }}
{{ main_agent }}'s observation: {{ o }}

Here is a statement of {{ main_agent }}'s current belief. If {{ main_agent }}'s current belief is not aligned with {{ main_agent }}'s observation, it is very unlikely.
